<h1 class="jumbotron">Add A New Band</h1>


<form class="centered" action="/bands/$band.getId()" method="post">
  <label for="name">Band Name:</label>
  <input id="inputtedBand" name="inputtedBand" type="text">
  <button type="submit" class="btn btn-success">Add Band</button>
</form>

<a href="/" class="btn btn-success centered"> Go Home</a>
