<h1 class="jumbotron">Here is a list of all Bands:</h1>

<div class="container">
  <ul>
    #foreach ($band in $bands)
      <li><a class="btn" href="bands/$band.getId()">$band.getBandName()</a></li>
    #end
  </ul>
</div>
<div class="centered">
  <a href="/" class="btn btn-primary centered">Go Home</a>
  <a href="/bands/new" class="btn btn-primary centered">Add A New Band</a>
</div>
