<div class="row">
  <h2 class="jumbotron col-xs-4 col-xs-offset-4"> Welcom To Band Tracker!</h2>
</div>
<br>
<div>
  <div class="row centered">
    <h5><a class="jumbotron col-xs-3 centered" href="/bands/new">Add A New Band</a></h5>
  </div>
  <div class="row centered">
    <h5><a class="jumbotron col-xs-3 centered" href="/bands">View Bands</a></h5>
  </div>
  <div class="row centered">
    <h5><a class="jumbotron col-xs-3 centered" href="/venues">View Venues</a></h5>
  </div>
</div>
