<div class="row">
  <h2 class="jumbotron col-xs-4 col-xs-offset-4">Band Tracker!</h2>
</div>
<br>
<div>
  <div class="row">
    <h5><a class="jumbotron col-xs-3" href="/band/new">Add A New Band</a></h5>
  </div>
  <div class="row">
    <h5><a class="jumbotron col-xs-3" href="/bands">View Bands</a></h5>
  </div>
  <div class="row">
    <h5><a class="jumbotron col-xs-3" href="/venues">View Venues</a></h5>
  </div>
</div>
