<h1 class="jumbotron">Here is a list of all Venues:</h1>

#foreach ($venue in $venues)
  <ul>
    <a href="/venues/$venue.getId()">$venue.getVenueName()</a>
  </ul>
#end
<div class="centered">
  <a href="/" class="btn btn-primary">Go Home</a>
</div>
