<h1 class="jumbotron">Add A New Venue</h1>

<div>
  <form class="centered" action="/venues/$venue.getId()" method="post">
    <label for="name">Venue Name:</label>
    <input id="inputtedVenue" name="inputtedVenue" type="text">
    <button type="submit" class="btn btn-success">Add Venue</button>
  </form>
</div>
<div class="centered">
  <a href="/" class="btn btn-success">Go Home</a>
</div>
